<manifest package="ua.org.tenletters.simplefeed"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="ua.org.tenletters.simplefeed.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SimpleTheme"
        >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5b03ffc0e39ab576a07b26fa649ee863e7cddd01"
            />

        <activity
            android:name="ua.org.tenletters.simplefeed.SplashActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ua.org.tenletters.simplefeed.view.LoginActivity" />

        <activity android:name="ua.org.tenletters.simplefeed.view.MainActivity" />

        <receiver
            android:name=".PostFailureReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
